* {
  box-sizing: border-box;
  font-family: SFPro;
}

body {
  background: $backround-color;
  @include xs {
    background: $white-color;
  }
  @include md {
    background: $white-color;
  }
  .is-not-mobile {
    display: none;
    @include xs {
      display: inline;
    }
    @include md {
      display: inline;
    }
  }

  .is-mobile {
    @include xs {
      display: none;
    }
    @include md {
      display: none;
    }
  }
  margin: 0;
  padding: 0;
  .drawer-menu {
    .menu-user {
      display: flex;
      justify-content: center;
    }
    .ant-drawer-header {
      border-bottom: 2px solid $grey-color;
    }
    .ant-drawer-title {
      img {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .menu-mobile ul li a {
      color: $black-color;
      font-size: 16px;
    }
    .menu-mobile ul li {
      padding: 5px 0;
    }
  }
  //
  .ant-dropdown-menu {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    ul li {
      font-size: 16px;
      margin: 0;
      line-height: 3;
    }
    .review-left {
      .ant-menu-item {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .review-right {
      .ant-menu-item {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 60px;
      }
    }
  }
}
.layout-custom {
  background: none !important;
}
h1 {
  font-size: 73px;
}
h2 {
  font-size: 70px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 25px;
}
//
.error-page {
  color: white;
  width: 100%;
  height: 1000px;
  background: linear-gradient(104.75deg, #45a3fa 0%, #0074f5 100%);
  position: relative;
  .err-page-bg {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .err-page-inner {
    position: absolute;
    top: 10%;
    left: 20px;
    margin: 0 14px;
    .err-oops {
      font-size: 70px;
      font-weight: bold;
      padding-bottom: 30px;
      @include md{
        font-size: 35px;
      }
      @include xs{
        font-size: 35px;
      }
    }
    .err-page-not-found {
      font-size: 70px;
      font-weight: 400;
      padding-bottom: 30px;
      @include md{
        font-size: 30px;
      }
      @include xs{
        font-size: 30px;
      }
    }
    .err-page-reason {
      font-size: 18px;
      padding-bottom: 30px;
    }
    .err-page-button {
      button {
        background: $brand-color;
        color: white;
        font-size: 25px;
        font-weight: bold;
        line-height: 0;
        padding: 25px;
        @include md{
          font-size: 20px;
        }
        @include xs{
          font-size: 20px;
        }
      }
    }
  }
}
//
.title-custom {
  @include xs {
    font-size: 24px;
  }
  @include md {
    font-size: 24px;
  }
  font-size: 30px;
  font-weight: bold;
  p {
    padding: 17px 0;
  }
}
// ICON
.icon-read-more {
  @include xs {
    font-size: 14px;
  }
  @include md {
    font-size: 14px;
  }
  font-size: 16px;
  font-weight: bold;
  color: $brand-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  img {
    margin: 0 10px;
    width: 22px;
  }
}
//
.layout-custom {
  background: $white-sencondary-color;
  .container {
    width: 70%;
    margin: auto;
    @include xs {
      width: 90%;
    }
    @include md {
      width: 90%;
    }
  }
  .header-tag {
    .checkable-tag {
      font-size: 16px;
      margin: auto;
      width: 70%;
      @include xs {
        width: 100%;
      }
      @include md {
        width: 80%;
      }
    }
    width: 100%;
    margin: auto;
    background: $white-color;
    padding: 21px 0;
    @include md{
      padding: 10px 0;
    }
  }
  .header-custom {
    border-bottom: 2px solid $black-color;
    background: $white-color;
    height: 60px;
    cursor: pointer;
    .logo {
      width: 100%;
      min-height: 60px;
      max-width: 200px;
      background-image: url("/static/assets/img/tech-view-logo_color.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    > div {
      height: 58px;
    }
    ul {
      width: 100%;
      height: 100%;
      background: $white-color;
      .ant-menu-item:hover {
        border: none;
      }
      .ant-menu-item::after,
      .ant-menu-item-active::after {
        border: none;
      }
      .ant-menu-item-selected {
        border: none;
        color: $brand-sencondary-color;
      }
      li {
        color: $black-color;
        font-size: $fz16;
        font-weight: bold;
      }
      @include xs {
        display: none;
      }
      @include md {
        display: none;
      }
    }
    .header-navbar {
      background: $white-color;
      @include xs {
        width: 100%;
      }
      @include md {
        width: 100%;
      }
      width: 75%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .navbar-mobile {
        button {
          background: transparent;
          color: black;
          font-weight: bold;
          font-size: 20px;
          border: none;
        }
      }
      .header-navbar-left,
      .header-navbar-right {
        width: 100%;
      }
      .header-navbar-left {
        display: flex;
        flex-direction: row;
        ul li {
          button {
            background: transparent;
            padding: 20px 0;
            border: none;
            font-size: 16px;
            font-weight: bold;
            display: block;
          }
          button:hover {
            color: #1890ff;
          }
        }
      }
      .header-navnar-right {
        .header-navbar-right-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%;
          button {
            border: none;
          }
          img {
            margin: 0 13px;
            width: 24px;
            height: 24px;
          }
          @include xs {
            display: none;
          }
          @include md {
            display: none;
          }
        }

        .header-navbar-right-button-mobile {
          display: none;
          @include xs {
            display: inline;
          }
          @include md {
            display: inline;
          }
        }
      }
    }
  }

  //
  .footer-custom {
    padding: 0;
    color: $white-color;
    background: $black-color;
    > div {
      width: 85%;
      margin: auto;
      text-align: left;
      padding-top: 30px;
      padding-bottom: 200px;
    }
    h3,
    h5 {
      font-family: SFProBold;
      color: white !important;
    }
    p {
      font-size: 24px;
      @include xs {
        font-size: 16px;
      }
      @include md {
        font-size: 16px;
      }
      font-weight: 700;
    }
    ul {
      display: flex;
      flex-direction: row;
      padding: 35px 0;
    }
    ul li {
      font-size: $fz20;
      padding-right: 15px;
      list-style: none;
      @include xs {
        font-size: 16px;
      }
      @include md {
        font-size: 16px;
      }
      a {
        color: $white-color;
      }
    }
    .social {
      h3 {
        font-size: 30px;
      }
      font-size: 30px;
      padding: 30px 0;
      svg {
        margin-right: 10px;
      }
    }
  }
  //
  .CardItem-Custom,
  .CardItemVideo-Custom {
    
    cursor: pointer;
    .ant-card {
      border: none;
      .ant-card-cover {
        @include md {
          height: 300px;
          overflow: hidden;
        }
        @include xs {
          height: 180px;
          overflow: hidden;
        }
      }
    }
    margin-bottom: 30px;
    .ant-card-body {
      padding: 10px 0;
      .ant-card-meta-detail {
        .ant-card-meta-title {
          white-space: inherit;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.2;
        }
        .ant-card-meta-description {
          font-size: 16px;
          @include xs {
            font-size: 10px;
          }
          @include md {
            font-size: 10px;
          }
        }
      }
    }
  }
  .CardItemVideo-Custom {
    cursor: pointer;
    .ant-card {
      border: none;
      .ant-card-cover {
        @include xs {
          height: 150px;
          overflow: hidden;
        }
        @include md {
          height: 150px;
          overflow: hidden;
        }
      }
    }
  }
  //
  .card-item-top-trending-custom {
    display: flex;
    flex-direction: row;
    .card-item-top-trending-custom-top-label {
      @include xs {
        font-size: 16px;
      }
      @include md {
        font-size: 16px;
      }
      font-size: 30px;
      font-weight: bold;
    }
    .card-item-top-trending-custom-top-detail {
      @include xs {
        font-size: 16px;
      }
      @include md {
        font-size: 16px;
      }
      font-size: 30px;
      font-weight: bold;
    }
  }
  //
  .card-item-horizontal {
    cursor: pointer;
    padding-bottom: 30px;
    .ant-card {
      border: none;
      background: none;
    }
    .ant-card-body {
      background: none;
      padding: 0;
    }
    .card-item-horizontal-img {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .card-item-horizontal-title {
      padding-left: 14px;
      font-size: 18px;
      @include xs {
        font-size: 14px;
      }
      @include md {
        font-size: 14px;
      }
      font-weight: 500;
      line-height: 1.4;
    }
    .card-item-horizontal-rate,
    .card-item-horizontal-author {
      padding-left: 14px;
      font-size: 20px;
      @include xs {
        font-size: 16px;
      }
      @include md {
        font-size: 16px;
      }
      color: $brand-color;
    }
    .card-item-horizontal-author {
      font-size: 16px;
      @include xs {
        font-size: 12px;
      }
      @include md {
        font-size: 12px;
      }
      color: $grey-color;
    }
  }
  //
  .item-section {
    .ant-card {
      border: none;
    }
    .ant-card-head-title {
      @include xs {
        font-size: 16px;
      }
      @include md {
        font-size: 16px;
      }
      font-size: 30px;
      font-weight: bold;
    }
    .ant-card-actions {
      .icon-read-more {
        text-align: left;
        padding: 0 30px;
      }
    }
    .item-section-center {
      .ant-card-meta-title {
        font-size: 18px;
        height: 100px;
      }
    }
    .item-section-left,
    .item-section-right {
      .card-item-horizontal-title {
        font-size: 16px;
        @include xs {
          font-size: 14px;
        }
        @include md {
          font-size: 14px;
        }
      }
    }
  }
  //
  .button-user {
    padding-bottom: 8px;

    button {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.button-user-inner {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  .button-user-inner-name {
    font-size: 20px;
    font-weight: bold;
  }
  button {
    margin-bottom: 30px;
  }
  .sign-in {
    background: $brand-sencondary-color;
    color: $white-color;
  }
  .sign-up {
    color: $white-color;
    background: rgb(90, 177, 90);
  }
  .sign-out {
    color: $white-color;
    background: rgba(255, 66, 66, 0.993);
  }
}
//
.pagination-common {
  margin: 30px 0;
  > div {
    justify-content: center;
  }
}
//
.card-item-news-mobile {
  background: transparent;
  border: none;
  .ant-card-body {
    padding: 0;
    margin: 10px 0;
  }
  .card-item-news-mobile-category {
    font-size: 14px;
    color: $brand-sencondary-color;
  }
  .card-item-news-mobile-createAt {
    font-size: 14px;
    color: $grey-color;
  }
  .card-item-news-mobile-description {
    font-size: 16px;
    line-height: 1.5;
    padding: 5px 0;
    font-weight: 500;
    color: $black-color;
  }
}
