.section-news-mobile-top, .section-mobile{
  .ant-card {
    background: transparent;
    .ant-card-cover {
      @include xs {
        height: 185px !important;
      }
    }
    .ant-card-meta-title {
      font-size: 30px;
    }
  }
}
