.section-new {
  @include md {
    margin: 30px 0;
  }
  .ant-card{
    background: none;
    border: none;
  }
  .section-new-inner-left {
    padding-right: 15px;
  }
  .section-new-inner-right {
    padding-left: 15px;
  }
}
