.section-view {
  .CardItem-Custom {
    >div{
      background: transparent;
    }
  }
  .section-view-item {
    .CardItem-Custom {
      .ant-card {
        .ant-card-cover {
          @include md {
            height: 120px;
          }
          @include xs {
            height: 95px;
          }
        }
      }
    }
  }
}
